=form_for [:admin, @post] do |f|
  .form-group
    =f.label :title
    =f.text_field :title, class: "form-control"
  .form-group
    =f.label :body
    =f.text_area :body, class: "form-control post-textarea"
  .checkbox
    =f.label :published do
      =f.check_box :published, class: ""
      published?
  .form-group
    =f.submit class: "btn btn-default"