%table.table.table-bordered
  %tr
    %th
      Title
    %th
      url
    %th
      Body
    %th
      edit
    %th
      unpublish/publish
  - @posts.each do |post|
    %tr{ class: post.published ? "" : "danger" }
      %td=post.title
      %td=post.friendly_url
      %td=post.body
      %td=link_to "editar", edit_admin_post_path(post), class: "btn btn-default"
      %td=link_to (post.published ? "draft" : "publish"), admin_post_path(post), method: :delete, class: (post.published ? "btn btn-danger" : "btn btn-default")

=paginate @posts

=link_to "Novo Post", new_admin_post_path