%table.table.table-bordered
  %tr
    %th
      Title
    %th
      url
    %th
      Body
    %th
      edit
    %th
      disable/enable
  - @posts.each do |post|
    %tr{ class: post.disabled ? "danger" : "" }
      %td=post.title
      %td=post.friendly_url
      %td=post.body
      %td=link_to "editar", edit_admin_post_path(post), class: "btn btn-default"
      %td=link_to (post.disabled ? "enable" : "disable"), admin_post_path(post), method: :delete, class: (post.disabled ? "btn btn-default" : "btn btn-danger")

=paginate @posts

=link_to "Novo Post", new_admin_post_path