.header
  h1.title
    margin: 25px 0 0px
    font-size: 40px
    font-weight: normal
    letter-spacing: 3px
    word-spacing: 5px
    text-align: center
  h2.subtitle
    margin: 10px 0 10px
    font-size: 12px
    text-align: center
    color: #B3B3B3

.outer-center 
  float: right
  right: 50%
  position: relative

.inner-center 
  float: right
  right: -50%
  position: relative

.clear 
  clear: both

.main-nav
  border-top: 1px solid #EAEAEA
  border-bottom: 1px solid #EAEAEA
  background: #FBFBFB
  padding: 8px 20px
  float: left
  ul
    float: left
    margin: 0
    padding: 0

    li
      float: left
      list-style: none  
      a
        float: left
        padding: 4px 8px
        font-size: 16px
        color: #999
        white-space: nowrap

        &:hover
          text-decoration: none
          color: #484848
          cursor: pointer