%h1 Coisas sobre mim

%p
  A simple man, passionate with Programming, biology and Physics. A guy who knows how dogs works
  Very, very playful...very.
  Metal music addicted.
  I know kung fu...kidding, but I know Judo.
  I just love reading.
  I don't think anyone is better then me, and never thought someone is worse, I just don't measure fishes smartness by its climbing skills.
  Life is just a way to get to perfection far beyond many lives.

%p
  Skills:
  %ul
    %li Really like Ruby and its unique syntax semantics
    %li I am good at learning
    %li At Ruby on Rails I have put in pratice most of my experience in Ruby
    %li I'm learning some NoSql/sidekiq/RabbitMQ right now
