.row
  .outer-center
    .inner-center
      .main-nav
        %ul
          %li
            %a
              home
          %li
            %a
              posts
          %li
            %a
              sobre mim
  .clear
